h1 {
  font-size: 60px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
}
.desc {
  font-size: 30px;
  font-weight: 600;
}

.desc::after {
  content: "";
  display: block;
  width: 70%;
  height: 20px;
  background: #0066cc73;
  position: relative;
  bottom: 20px;
  z-index: -1;
}

h4 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .bg {
    flex-direction: column;
  }

  .right img {
    width: 60%;
    display: "none";
  }
}
